@import url("https://use.typekit.net/hrr5itc.css");

    @font-face {
        font-family:"neue-haas-grotesk-display";
        src:url("../fonts/NHaasGroteskDSPro45Lt.woff2") format("woff2"),url("../fonts/NHassGroteskDSPro45Lt.woff") format("woff"),url("../fonts/NHassGroteskDSPro45Lt.otf") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
        }


        @font-face {
            font-family:"NaNTresorSwashExtraLight";
            src:url("../fonts/NaNTresorSwash-ExtraLight.woff2") format("woff2");
            font-style:normal;
            font-weight:400;
            }

            @font-face {
                font-family:"NaNTresorLExtraLight";
                src:url("../fonts/NaNTresorL-ExtraLight.woff2") format("woff2");
                font-style:normal;
                font-weight:400;
                }


/* Thanks to Collletttivo */
@font-face {
    font-family: "Sneaky";
    src: url('../fonts/Sneaky-Times.woff2') format("woff2"),
        url("../fonts/Sneaky-Times.woff") format("woff");
}

:root {
--cinzinha: #e8e8e8;
--amarelinha: #e8e8e8;
}

* {
    margin: 0;
}

::selection {
    background: #ccc;
}
/*
::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-left: 1px #282828 solid;
}

::-webkit-scrollbar-thumb {
    background-color: var(--amarelinha);
    border: 1px #282828 solid;
    border-right: none;

}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
*/
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    width: calc(100vw - scrollbarwidthpx);
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

body#mensagem {
    background-image: url(../imgs/pontinhos.jpg);
    background-size: 300px 300px;
    padding: 5px;
}

body#mensagem * {
    color: var(--cinzinha);
}

body::-webkit-scrollbar {
    width: scrollbarwidthpx;
}

/*
body#home, body#home * {
    cursor: none!important;
}
*/

iframe {
    width: 100%;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #000;
}

.dark a, .dark a:link, .dark a:visited {
    color: #fff;
}

.dark a:hover {
    color: #000;
}

header {
    background-color: var(--amarelinha);
    padding: .5rem 1rem;
    border-bottom: 1px #282828 solid;
    border-top: 1px #282828 solid;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
}


header h1 {
    color: #000;
}

header#index {
    position: sticky;
    top: 0;
    text-transform: uppercase;
}

ul.projects {
    background-color: #fff;
    box-sizing: border-box;
}

ul.projects li {
    padding: .5rem 1rem;
    border-bottom: 1px #282828 solid;
    box-sizing: border-box;
    background-color: #fff;
}

ul.projects li:first-child {
    position: sticky;
    top: calc(4.8rem + 1rem + 2px);
    cursor: s-resize;
}

ul.projects.active li:first-child {
    cursor: n-resize;
    background-color: var(--amarelinha);
}

ul.projects li:first-child:hover {

}

ul.projects li:first-child h1 {
    color: #000;
}

ul.projects:not(.active) li:not(:first-child) {
    font-size: 0;
    opacity: 0;
    padding: 0;
    border-width: 0;
    transition: opacity .25s, padding .5s .25s ease, border-width .5s .25s ease, font-size .5s .25s;
    pointer-events: none;
}

ul.projects:not(.active) li:first-child:hover ~ li {
    font-size: 2.5rem;
    opacity: 1;
    padding: .5rem 1rem;
    border-width: 1px;
    transition: opacity .25s, padding .5s .25s ease, border-width .5s .25s ease, font-size .75s .25s;
}

ul.projects.active li:not(:first-child) {
    font-size: 4.5rem;
    opacity: 1;
    padding: .5rem 1rem;
    border-width: 1px;
    transition: font-size .75s ease, padding .25s ease, border-width .25s ease, opacity .5s .25s ease;
}

ul.projects:not(.active) li:not(:first-child) h1 b {
    display: none;
}

ul.projects li:not(:first-child) h1 {
    font-size: inherit;
}

ul.projects li:hover{
    background-color: var(--amarelinha);
    transition: .1s ease;
}

ul.projects li:hover h1{
    color: #000;
}

ul.projects li img {
    position: absolute;
    max-width: 350px;
    z-index: 99;
    display: none;
    border: 1px #282828 solid;
    box-shadow: 7px 7px 5px #282828;
    background-color: #fff;
}

ul.projects li:first-child h1::before {
    content: "M";
    visibility: hidden;
}

ul.projects li:not(:first-child) h1 {
    margin-left: 10rem;
}

ul.projects li h1::before {
    /*content: "MW";
    visibility: hidden;*/
}

h1 {
    font-family: "NaNTresorLExtraLight", sans-serif;
    font-size: 4.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.05rem;
    color: var(--cinzinha);
}

h1.swash {
    font-family: "NaNTresorSwashExtraLight", sans-serif;
    font-feature-settings: "ss02" 0, "swsh" 0, "cswh" 0, "cv05" 0, "cv12" 0, "cv21" 0, "cv24", "cv28" 0, "cv40" 0, "cv48" 0, "cv61" 0, "cv63" 0;
    letter-spacing: 0;
}

h1 b, p b {
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.4rem;
    letter-spacing: .025rem;
    font-family: "neue-haas-grotesk-display", sans-serif;
    
}

section#detail {
    padding: .5rem;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

section#detail div {
    float: left;
}

section#detail .quarter, section#detail .third, section#detail .half, section#detail .full {
    padding: .5rem;
    box-sizing: border-box;
    
}

section#detail .quarter{
    width: 25%;
}

section#detail .third {
    width: 33.33%;
}

section#detail .half {
    width: 50%;
}

section#detail .full {
    width: 100%;
}


section#detail .quarter img, section#detail .third img, section#detail .half img, section#detail .full img {
    max-width: 100%;
}

section#detail .full img {
    min-height: 100%;
}

.transp_border {
    border: 1px #282828 solid; 
}

p {
    max-width: 500px;
    font-family: "Sneaky", serif;
    font-size: 1.2rem;
    line-height: 115%;
    letter-spacing: -0.02rem;
}

p a:link {
    text-decoration: underline;
}

p a:hover {
    background-color: var(--amarelinha);
}

p b {
    margin-left: 2.5rem;
    padding: 0;
}

/*
p+p {
    text-indent: 2.5rem;
}
*/
sup {
    vertical-align: super;
    font-size: smaller;
}

footer {
    border-top: 1px #282828 solid;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
}

body#home footer {
    border-top: none;
}

footer h1 {
    color: #000;
}

footer li {
    width: 100%;
    padding: 0.5em 1rem;
    box-sizing: border-box;
}
/*
footer li:hover {
    background-color: var(--amarelinha);
}

footer li:hover {
    background-color: #fff;
}
*/
footer li+li {
    border-top: 1px #282828 solid;
}

.clearfix {
    clear: both;
}

.dark {
    background: #000;
    color: #fff;
}

.movel {
    cursor: move;
}

.video-responsive {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}


.video-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.video-responsive#quad::before{
    padding-top: 41.02%;
}

.video-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.no-desktop {
    display: none;
}

.axis {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #282828;
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.axis#y {
    position: fixed;
    width: 1px;
    height: 100vh;
}




@media only screen and (min-width: 1920px) {
    body {
        border-left: 1px #282828 solid;
        border-right: 1px #282828 solid;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 9px;
    }

    header {
        padding: .6rem;
    }


    ul.projects li {
        float: left;
        display: inline-block;
        padding: .6rem;
        width: 100%;
    }

    ul.projects li h1 {
        float: left;
        display: inline-block;
        width: 84%;
        max-width: 84%;
        box-sizing: border-box;
        padding-left: .85rem;
    }


    ul.projects li h1::before {
        content: none;
    }

    ul.projects li h1 b {
        display: none;
    }

    ul.projects li img {
        position: inherit;
        max-width: 16%;
        box-shadow: none;
        display: inline-block;
        float: left;
        padding: none;
        box-sizing: border-box;
    }

    section#detail {
        padding: .6rem;
    }

    section#detail .quarter, section#detail .third, section#detail .half, section#detail .full {
        width: 100%;
        padding: .6rem;
        box-sizing: border-box;
        
    }

    section#detail .quarter{
        width: 50%;
    }

    section#detail .quarter img, section#detail .third img, section#detail .half img, section#detail .full img {
        max-width: 100%;
    }

    section#detail .full img {
        min-height: 100%;
    }

section#detail .full > .half {
padding: 0;
}

    h1 {
        font-size: 5.5rem;
        line-height: 105%;
    }

    p {
        font-size: 2.1rem;
    }

    p b {
        font-size: .8rem;
    }

    footer li {
        padding: .6rem;
    }

    .no-desktop {
        display: block;
    }

    .no-mobile {
        display: none;
    }
}

