:root {
  --amarelinho: rgb(252, 252, 135);
}

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15.5px;
}

body {
  background-image: url(../imgs/pontinhos.jpg);
  background-size: 300px 300px;
  line-height: 121%;
  min-width: 900px;
}

::selection {
  background-color: var(--amarelinho);
}

a, a:link {
  color: black;
}

a:hover {
  color: var(--amarelinho);
}

a:hover * {
  cursor: ne-resize;
}


table {
  max-width: 1100px;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid darkgray;
}

table {
  width: 100%;
  filter: drop-shadow(1px 1px 0px black);
}

th, td {
  background: rgb(253, 253, 253);
}

td {
  text-align: center;
}

td:has(img) {
  text-align: center;
}

td img, td video, td iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.lista td img {
  max-width: 45px;
  display: unset;

}

table:not(#grafico, #infos) tr:hover td {
  background-color: var(--amarelinho);
}

table:not(#grafico, #infos) tr:not(:first-child, :nth-child(2)):hover ::selection {
  background-color: #fff !important;
}

#web td {
  width: 25%;
}

#web td:nth-last-child(-n+2) {
  width: calc(25% / 2);
}

#web td {
  width: 25%;
}

#extra td:nth-last-child(-n+2) {
  width: calc(25% / 2);
}